# Fichiers de configuration de l'IDE
.vscode/
.idea/

# Fichiers Python générés
__pycache__/
*.pyc

# Environnement virtuel Poetry/venv
.venv/
venv/

# Fichiers de dépendances et de build
.pytest_cache/
dist/
build/
*.egg-info/

# Fichiers de logs
logs/
*.log

# Fichiers d'environnement contenant des secrets
.env
.env.local

# Fichiers de cache et de système d'exploitation
.DS_Store
Thumbs.db

# Temporary files
temp/
tmp/
cache/